Tomando la totalidad de los datos

In [1]:
#lectura de los datos por medio de pandas, se tomaron las 10 primeras lineas de ambos outputs
import pandas as pd
# pandas.leer archivo .csv(nombre del archivo, separado por tabulaciones, columnas sin nombre) 
datakraken = pd.read_csv('',header=None, names=['c-clasificado',"read","taxon_kraken",'1','2']) 
datakaiju = pd.read_csv('',sep='\t',header=None, names=['c-clasificado',"read","taxon_kaiju"])

In [2]:
#datakraken = pd.read_csv('data/10lineas_kraken',sep='\t',header=None)# names=["read","taxon"])
#datakraken

In [3]:
datakraken

,c-clasificado,read,taxon_kraken,1,2
0,C,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,151|151,A:6 2:5 1224:1 2:3 1236:10 91347:6 543:1 1236:...
1,C,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,150|150,A:6 119060:5 48736:5 329:13 0:4 329:7 0:6 1190...
2,C,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,149|151,A:5 91347:17 69218:5 543:1 69218:21 543:4 6921...
3,C,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,150|150,A:6 1560356:1 91347:73 0:9 1560356:5 0:18 1560...
4,C,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,150|151,A:6 469:57 487316:11 0:8 487316:2 0:8 469:3 0:...
...,...,...,...,...,...
10764229,C,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084,151|151,A:12 91347:11 1378084:3 A:35 91347:12 A:44 |:|...
10764230,C,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084,150|150,A:12 91347:14 A:35 91347:12 A:43 |:| 91347:1 0...
10764231,C,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347,146|151,A:11 91347:14 A:35 91347:12 A:40 |:| 91347:56 ...
10764232,C,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261,151|151,A:12 0:11 286:3 A:35 1930747:12 A:44 |:| A:14 ...
10764233,C,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097,149|149,A:11 0:11 1860097:1 0:2 A:37 469:4 0:6 A:43 |:...

In [4]:
datakaiju

,c-clasificado,read,taxon_kaiju
0,C,NB501110:123:H7C3WBGX7:1:11101:22148:1069,470934
1,C,NB501110:123:H7C3WBGX7:1:11101:12474:1085,69218
2,C,NB501110:123:H7C3WBGX7:1:11101:19868:1087,53335
3,C,NB501110:123:H7C3WBGX7:1:11101:10733:1094,69218
4,C,NB501110:123:H7C3WBGX7:1:11101:20523:1097,1224136
...,...,...,...
10764229,C,NB501110:123:H7C3WBGX7:4:23612:20381:20331,329
10764230,C,NB501110:123:H7C3WBGX7:4:23612:20498:20337,547
10764231,C,NB501110:123:H7C3WBGX7:4:23612:10800:20351,329
10764232,C,NB501110:123:H7C3WBGX7:4:23612:24681:20365,1076550
10764233,C,NB501110:123:H7C3WBGX7:4:23612:20267:20379,53335

In [5]:
datakrakenall = datakraken.drop(['c-clasificado','1', '2'], axis=1)
datakrakenall

                                                read  taxon_kraken
0           NB501110:123:H7C3WBGX7:1:11101:9813:1065           547
1           NB501110:123:H7C3WBGX7:1:11101:9032:1067           329
2           NB501110:123:H7C3WBGX7:1:11101:9958:1067         69218
3          NB501110:123:H7C3WBGX7:1:11101:22148:1069       1076549
4          NB501110:123:H7C3WBGX7:1:11101:17061:1072        487316
...                                              ...           ...
10764229  NB501110:123:H7C3WBGX7:4:23612:11635:20393       1378084
10764230  NB501110:123:H7C3WBGX7:4:23612:16321:20394       1378084
10764231   NB501110:123:H7C3WBGX7:4:23612:9943:20397         91347
10764232  NB501110:123:H7C3WBGX7:4:23612:10288:20398       1461261
10764233   NB501110:123:H7C3WBGX7:4:23612:9387:20400       1860097

[10764234 rows x 2 columns]

In [6]:
datakaijuall = datakaiju.drop(['c-clasificado'], axis=1)
datakaijuall

                                                read  taxon_kaiju
0          NB501110:123:H7C3WBGX7:1:11101:22148:1069       470934
1          NB501110:123:H7C3WBGX7:1:11101:12474:1085        69218
2          NB501110:123:H7C3WBGX7:1:11101:19868:1087        53335
3          NB501110:123:H7C3WBGX7:1:11101:10733:1094        69218
4          NB501110:123:H7C3WBGX7:1:11101:20523:1097      1224136
...                                              ...          ...
10764229  NB501110:123:H7C3WBGX7:4:23612:20381:20331          329
10764230  NB501110:123:H7C3WBGX7:4:23612:20498:20337          547
10764231  NB501110:123:H7C3WBGX7:4:23612:10800:20351          329
10764232  NB501110:123:H7C3WBGX7:4:23612:24681:20365      1076550
10764233  NB501110:123:H7C3WBGX7:4:23612:20267:20379        53335

[10764234 rows x 2 columns]

In [7]:
pd.merge(datakrakenall, datakaijuall, how='outer', on=['read', 'read'])

,read,taxon_kraken,taxon_kaiju
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,1236
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,329
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,547
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,470934
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,487316
...,...,...,...
10764229,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084,91347
10764230,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084,1076550
10764231,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347,53335
10764232,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261,1461259
10764233,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097,0

In [12]:
lOutputs = [datakrakenall, datakaijuall] #lista de dataframes
def function(lOutputs):
    DFfusion = lOutputs[0]
    for i in lOutputs:
        DFfusion = pd.merge(DFfusion, i, how='outer')
   
    return DFfusion

DFfusion = function(lOutputs)    
DFfusion

,read,taxon_kraken,taxon_kaiju
0,NB501110:123:H7C3WBGX7:1:11101:9813:1065,547,1236
1,NB501110:123:H7C3WBGX7:1:11101:9032:1067,329,329
2,NB501110:123:H7C3WBGX7:1:11101:9958:1067,69218,547
3,NB501110:123:H7C3WBGX7:1:11101:22148:1069,1076549,470934
4,NB501110:123:H7C3WBGX7:1:11101:17061:1072,487316,487316
...,...,...,...
10764229,NB501110:123:H7C3WBGX7:4:23612:11635:20393,1378084,91347
10764230,NB501110:123:H7C3WBGX7:4:23612:16321:20394,1378084,1076550
10764231,NB501110:123:H7C3WBGX7:4:23612:9943:20397,91347,53335
10764232,NB501110:123:H7C3WBGX7:4:23612:10288:20398,1461261,1461259
10764233,NB501110:123:H7C3WBGX7:4:23612:9387:20400,1860097,0

¿Se pueden leer solo dos columnas del archivo?